body{
 
    background-image: url(../assets/images/abstract-background-abstract-oil-painting-abstract-painting-1629236.jpg);
    font-family: 'Rajdhani', sans-serif;
}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin: 20px auto;
    color: #9e877e;
    font-weight: 700;
}

.game{
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 20px;
    width: 85%;
    height: 500px;
    margin: 60px auto;
    position: static;
    overflow-x: auto;
    text-align: center;

   
}

.startbot{
    font-size: 30px;
    text-align: center;
    border: solid black;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 100px auto 0 auto;
    display: table;
    align-items: center;
    font-weight: 500;
    
}

#startbutton{
    color: #9e877e;
    

}

.okay{
    padding:10px 40px;
    font-size: 25px;
    font-weight: 300;
    margin:0 140px;
    /* width: 200px; */

    border-radius: 30px;
    /* text-align: center;
    align-items: center; */
}

h5:hover{
    background-color:#7B2D26;
    color:white;
    font-weight: 800px;
    
    
}

.question{
    font-size: 30px;
    font-weight: 500;
}





.intro{
    font-size: 30px;;
    text-align: center;
    padding: 10px auto;
    margin: 100px auto;
    overflow: auto;
    font-weight: 400;
    color: black;
    
}


.timer{
    padding: 20px auto;
    font-weight: 400;
    font-size: 25px;

}
